<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Takeout Guide</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>This is a guide for downloading the takeout data from the google data dashboard</h1>
    <p>Please follow the steps written below to download your takeout data from the google data dashboard <a href="https://takeout.google.com/settings/takeout" target="_blank" rel="noopener noreferrer" >here</a> : </p>
    <ol>
        <li>Visit the Google dashboard (<a href = "https://myaccount.google.com/dashboard">https://myaccount.google.com/dashboard</a>) and login to your google account</li>
        <li>Choose the "Download your data" button in the centre-left of the page. This will redirect you to a new page</li>        
    </ol>

    <form method = 'POST'>
    <div class = "container"></div>
    </form>
</body>
</html>