<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Takeout Guide</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>This is a guide for downloading the takeout data from the google data dashboard</h1>
    <p>Please follow the steps written below to download your takeout data from the google data dashboard <a href="https://takeout.google.com/settings/takeout" target="_blank" rel="noopener noreferrer" >here</a> : </p>
    <ol>
        <li>Visit the Google dashboard (<a href = "https://myaccount.google.com/dashboard">https://myaccount.google.com/dashboard</a>) and login to your google account</li>
        <li>Choose the "Download your data" button in the centre-left of the page. This will redirect you to a new page</li>        
        <li>Go to the "Select data to include" checkbox section</li>
        <li>deselect every option selected by default in the 48 item list</li>
        <li>select the checkbox for the google pay data</li>
        <li>click on the "next step" button</li>
        <li>Choose the "Choose file type, frequency & destination" section below the data selection section</li>       
        <li>In the "transfer to" drop-down list, choose the "send download link via email" option</li>
        <li>In the frequency section, select the "export once" option</li>
        <li>In the "file type and size" section, select the file type as .zip and the file size as "1GB"</li>
        <li>click on the "create export" button to generate the download url</li>
        <li>Go to the mail sent to you by the google data dashboard in your personal email</li>
        <li>Select the "Download your files" option</li>
        <li>In the "Manage you exports" section, click on the download button, this would download the zipped data on your personal data</li>
        <li>Open the google drive page, click on the "sign-in" option in the top right section of the page, and select the account to log in from<a>
        <li>This will open up the "your drive" page; click on the "new" button in the top left section of the page, and select the "file upload" option to select the zip file from your local computer</li>
        <li>After uploading the file, browse the "my drive" section, right-click on the add button, and select the "get link" option</li>
        <li>In the "general access" section, change the visibility from restricted to "anyone with the link" and then change the write access of the file to "editor"</li>
        <li>Click on the "Copy Link" button at the bottom left of the dialog box, the link is now copied on your clipboard</li>
        <li>Paste this link into the form</li>
        
    </ol>

    <form method = 'POST'>  
        <label for="Question">Please enter the drive link requested:</label><br>
        <input type="text" id="Question" name="Question"> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>